# DAY 5 USER INPUTS AND OTHER IMPORTANT DATATYPES
NAME : KAVIYA V

# 1. a) Add an item in to the list (using function)

In [1]:
my_list = [100,200,300,400,500,550,600,650,700,750]
print("My List elements are:",my_list)
a=int(input("Please enter any number:\n"))
my_list.append(a)
print("Updated List elements are:",my_list)

My List elements are: [100, 200, 300, 400, 500, 550, 600, 650, 700, 750]
Please enter any number:
800
Updated List elements are: [100, 200, 300, 400, 500, 550, 600, 650, 700, 750, 800]

# b) Delete (using function)

1. del keyword:

In [2]:
del my_list[4]
print(my_list)

[100, 200, 300, 400, 550, 600, 650, 700, 750, 800]

In [3]:
del my_list[2:5]
print(my_list)

[100, 200, 600, 650, 700, 750, 800]

2. pop() function:

In [4]:
my_list.pop()
print(my_list)

[100, 200, 600, 650, 700, 750]

In [5]:
my_list.pop(0)  #delete the first element from the list
print(my_list)

[200, 600, 650, 700, 750]

3. remove() function:

In [6]:
my_list.remove(700)
print(my_list)

[200, 600, 650, 750]

# c) Store the Smallest number from the list to a variable

In [7]:
s=min(my_list)
print("Smal_Elem is:",s)

Smal_Elem is: 200

# d) Store the largest number from the list to a variable

In [8]:
l=max(my_list)
print("Lar_Elem is:",l)

Lar_Elem is: 750

# 2. Create a tuple and print the reverse of the created tuple

In [9]:
my_tuple = (1,19,7.5,8.01,"python","Best Enlist")
my_tuple = my_tuple[::-1]
print(my_tuple)

('Best Enlist', 'python', 8.01, 7.5, 19, 1)

# 3. Create a tuple and convert tuple into list

In [10]:
value = (10,20,30,40,50)
my_tuple = list(value)
print(my_tuple)

[10, 20, 30, 40, 50]