# DAY 8 EXERCISES
NAME : KAVIYA V

O Write a Python script to merge two Python dictionaries

In [1]:
fruits = {"Apple":2,"Orange":3,"Grapes":5}
dry_fruits = {"Cashew":3,"Almond":4,"Pistachio":6}
fruits.update(dry_fruits)
print(fruits)

{'Apple': 2, 'Orange': 3, 'Grapes': 5, 'Cashew': 3, 'Almond': 4, 'Pistachio': 6}

O Write a program to sort the value from descending to ascending in list and convert it in to a set.

In [2]:
Num_List = [12,45,87,49,56,46]
print("Element Before Sorting is:",Num_List)
new_NumList=sorted(Num_List,reverse=True)
print("Element After Sorting List in Descending Order is:",new_NumList)
a=set(Num_List)
print("The elements after converted into sets are:",a)

Element Before Sorting is: [12, 45, 87, 49, 56, 46]
Element After Sorting List in Descending Order is: [87, 56, 49, 46, 45, 12]
The elements after converted into sets are: {12, 45, 46, 49, 87, 56}

O Write a Python program to get a string from a given string (user input) and change the first occurrence of the word to a user specified input.

In [4]:
def change_char(str1):
  char=str1[0]
  str1=str1.replace(char,'$')
  str1=char+str1[1:]
  return str1
print(change_char('restart'))

resta$t

O Write a Python program to find the repeated items of a list

In [5]:
list = [ 3, 6, 9, 12, 3, 30, 15, 9, 45, 36, 12, 12]
dupItems = []
uniqItems = {}
for x in list:
   if x not in uniqItems:
      uniqItems[x] = 1
   else:
      if uniqItems[x] == 1:
         dupItems.append(x)
      uniqItems[x] += 1
print(dupItems)

[3, 9, 12]

O Write a Python program to find the Mean,median,mode among three given numbers

In [7]:
import statistics
my_set = [10, 20, 30, 30, 40, 40, 40, 50, 50, 60]  
my_mode = statistics.mode(my_set) 
my_mean = statistics.mean(my_set)
my_median = statistics.median(my_set)
print("Mean of given set of data values is", my_mean) 
print("Median of given set of data values is", my_median) 
print("Mode of given set of data values is", my_mode)

Mean of given set of data values is 37
Median of given set of data values is 40.0
Mode of given set of data values is 40

O Write a Python program to swap cases of a given string

In [8]:
string = "pYTHon"
print(string.swapcase())   
string = "BootCamp" 
print(string.swapcase())

PythON
bOOTcAMP

O Write a program to convert an integer to binary & octa decimal

In [9]:
dec = int(input("Enter an integer: "))
print("The decimal value is", dec,)
print(bin(dec), "in Binary.")
print(oct(dec), "in Octa Decimal.")

Enter an integer: 80
The decimal value is 80
0b1010000 in Binary.
0o120 in Octa Decimal.

O Write a Python program to check the sum of three elements and divided by a value which is given as an input by the user

In [11]:
NumList=[]
Number=int(input("Please enter the Total Number of List Elements:"))
for i in range(1,Number+1):
    value=int(input("Please enter the Value of %d Element:"%i))
    NumList.append(value)
total=sum(NumList)
Num=int(input("Please enter the Number to divide:"))
Div=total/Num
print("The Sum of All Element in this List is:", total)
print("The Quotient of All Element in this List after divided by user defined integer value is:", Div)

Please enter the Total Number of List Elements:3
Please enter the Value of 1 Element:14
Please enter the Value of 2 Element:67
Please enter the Value of 3 Element:23
Please enter the Number to divide:6
The Sum of All Element in this List is: 104
The Quotient of All Element in this List after divided by user defined integer value is: 17.333333333333332

O Write a Python program to list number of items in a dictionary key and sort the list with the help of a function

In [13]:
def dictionairy():
    key_value ={"Tom":67,"Tina":54,"Akbar":87,"Kane":43,"Divya":73}   
    print ("Keys and Values after sorted")
    print(sorted(key_value.items(), key =
             lambda kv:(kv[1], kv[0])))   
def main():
    dictionairy()           
if __name__=="__main__":     
    main()

Keys and Values after sorted
[('Kane', 43), ('Tina', 54), ('Tom', 67), ('Divya', 73), ('Akbar', 87)]

O Write a Python program to list number of items in a dictionary key and sort the list without the function.

In [14]:
key_value={"Tom":67,"Tina":54,"Akbar":87,"Kane":43,"Divya":73}
marklist=sorted((value, key) for (key,value) in key_value.items())
sortdict=dict([(k,v) for v,k in marklist])
print("Sorted Dictionary is:",sortdict)

Sorted Dictionary is: {'Kane': 43, 'Tina': 54, 'Tom': 67, 'Divya': 73, 'Akbar': 87}

O Write a Python program to get a string from a given string where all occurrences of its first char have been changed to capital letter.

In [16]:
def change_char(str1):
  char=str1[0]
  str1=str1.replace(char,'R')
  str1=char+str1[1:]
  return str1
print(change_char('restart'))

restaRt